/* SUCCESS MESSAGE START*/
.sub-title__box {
  position: relative;
  margin-bottom: 1rem;
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
}
.hero-products .sub-title {
  margin-bottom: 1rem;
}
.success-message {
  background-color: var(--success);
  padding: 2rem 3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  width: fit-content;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  margin: 0 auto 1rem;
  text-align: center;
  color: var(--main-text-color);
}
.success-message span {
  color: inherit;
}
.success-message > * {
  font-family: inherit;
  font-size: inherit;
}
.success-message--active {
  opacity: 1;
  visibility: visible;
}
/* SUCCESS MESSAGE END*/

.hero-products .products {
  padding: 15rem 0;
  text-align: center;
}
.products {
  padding: 10rem 0;
  text-align: center;
}
.products .container {
  position: relative;
}
.product__block {
  padding: 1rem;
  background-color: var(--main-bg-color);
  max-width: 30rem;
  margin: 0 auto;
}
.product__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 25rem;
  height: 25rem;
  background-color: var(--main-bg-color);
  padding: 0.5rem;
}
.product__img-box .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product__text-box {
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.product__name {
  font-family: var(--title-font);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.product__desc {
  margin-bottom: 1rem;
}
.product__price {
  font-size: 3rem;
  font-family: var(--title-font);
}
.product__btn-block {
  display: flex;
  justify-content: center;
}
.product__btn-block .btn {
  margin: 0;
  color: var(--second-brand-color);
  background-color: var(--third-brand-color);
  border-color: var(--third-brand-color);
}
.product__btn-block .btn--first {
  margin-right: 1rem;
}
.products__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 1440px) {
  .products__list .item {
    position: relative;
    width: fit-content;
  }
  .products__list {
    gap: unset;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .product__block {
    border: 0.5rem solid var(--second-brand-color);
    border-radius: 2rem;
    max-width: 60rem;
    display: flex;
    padding: 3rem;
    position: relative;
    z-index: 2;
    background-color: var(--main-bg-color);
  }
  .products__list .item::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--second-brand-color);
    opacity: 0.4;
    position: absolute;
    border-radius: 2rem;
    bottom: -2rem;
    left: -2rem;
  }
  .products__list .item:nth-child(even) .product__block {
    text-align: right;
    flex-direction: row-reverse;
  }
  .products__list .item:nth-child(even) {
    margin-left: auto;
  }
  .products__list .item:nth-child(odd) .product__block {
    text-align: left;
  }
  .product__img-box {
    min-width: 20rem;
    width: 20rem;
    height: 20rem;
    max-height: 20rem;
    margin: 0;
  }
  .products__list .item:nth-child(even)::after {
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    position: absolute;
    border-top: 0.5rem solid var(--second-brand-color);
    border-left: 0.5rem solid var(--second-brand-color);
    border-radius: 2rem;
    left: calc(-100% + 3rem);
    top: 50%;
  }
  .products__list .item:nth-child(odd)::after {
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    position: absolute;
    border-top: 0.5rem solid var(--second-brand-color);
    border-right: 0.5rem solid var(--second-brand-color);
    border-radius: 2rem;
    right: calc(-100% + 3rem);
    top: 50%;
  }
  .products__list .item:last-child::after {
    display: none;
  }
}
